* {
    box-sizing: border-box;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    &:hover {
        cursor: pointer;
    }
}

img {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#root {
    position: relative;
}

body {
    background-color: rgb(14, 13, 20);
    line-height: 1.5;
    font-family: 'Plus Jakarta Display', sans-serif;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    /* color: #43c1a8; */
    text-decoration: none;
    outline: 0;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}

.main {
    padding-bottom: 200px;
}

.main {
    &--dashboard {
        padding-bottom: 0 !important;
    }
}

.text-origin {
    background: -webkit-linear-gradient(272.16deg, #6adefb 9.87%, #9ef9bf 58.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;

    &--red {
        background: -webkit-linear-gradient(272.16deg, #ff63639d 9.87%, #ff0000 58.96%);
        -webkit-background-clip: text;
    }
}

.title {
    margin-bottom: 0;
    font-size: 40px;
    color: #ffffff;
}

.title {
    &--small {
        font-size: 24px;
    }
}

.title {

    &--earnings {
        display: flex;
        align-items: flex-end;
        color: #0e0d14;
        line-height: 1;
    }
}

.text {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.35);
}

.text {
    &--staking-count {
        margin-top: 0;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.35);
        line-height: 1.3;
    }

    &--staking-count strong {
        color: #ffffff;
    }
}

.list {
    &__item {
        display: flex;
        align-items: center;

        font-size: 16px;
        color: rgba(255, 255, 255, 0.35);
    }

    &__item:before {
        content: "";
        flex-shrink: 0;
        width: 9px;
        height: 9px;
        margin-right: 20px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }

    &__item:not(:first-child) {
        margin-top: 8px;
    }
}

.label {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1;

    &.required:after {
        content: "*";
        color: #ffc36a;
        margin-left: 2px;
    }
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    position: relative;
    color: rgb(219, 72, 72);

    &:before,
    &:after {
        content: "";
        height: 50%;
        width: 2px;

        position: absolute;

        border-radius: 1px;
        background-color: currentColor;
        transition: color 0.2s ease-out;
    }

    &:before {
        transform: rotateZ(45deg);
    }

    &:after {
        transform: rotateZ(-45deg);
    }

    &:hover {
        color: rgb(255, 0, 0);
    }
}

.pm {
    color: #ffffff;
    position: relative;

    &:before,
    &:after {
        content: "";
        width: 14px;
        height: 2px;
        border-radius: 1px;
        background-color: currentColor;
        position: absolute;
    }

    &--plus:after {
        transform: rotateZ(90deg);
    }

    &--minus:after {
        content: none;
    }

    &:hover {
        color: #0e0d14;
    }
}

.errors {
    margin-top: 10px;

    .error {
        display: flex;
        align-items: center;
        line-height: 1;
    }

    .error:not(:first-child) {
        margin-top: 10px;
    }

    .error:before {
        content: "";
        width: 4px;
        height: 4px;
        margin-right: 5px;

        background-color: currentColor;
        border-radius: 50%;
    }
}

.error {
    color: rgb(255, 23, 23);
}

.loading {

    &--fixed {
        display: flex;
        align-items: center;
        max-width: 330px;

        position: fixed;
        right: 40px;
        bottom: 40px;
        background-color: #f1f2f3;
        border-radius: 60px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

        overflow: hidden;

        z-index: 20;
        padding: 10px 20px;
        padding-right: 6px;
    }

    &--fixed &__icon {
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        margin-left: 10px;
        mix-blend-mode: unset;
    }

    &--fixed &__title {
        font-size: 16px;
    }

    &--fixed &__text {
        margin-top: 5px;
        font-size: 14px;
        line-height: 1.2;
    }
}

.loading {

    &--success &__icon {
        padding: 17px;
        background: #46c58a;
        color: #ffffff;
        border-radius: 50%;
    }
}

.loading {
    &--table {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 40px;

        font-family: $rob;
        font-size: 25px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        mix-blend-mode: hard-light;
    }
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 18px;

    position: fixed;
    right: 40px;
    bottom: 40px;

    color: #ffffff;
    font-size: 22px;
    line-height: 1;
    font-weight: 300;

    background-color: #252525;
    border: #e6e6e6;
    border-radius: 5px;
}

@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    h3 {
        font-size: calc(1.3rem + 0.6vw);
    }
}

@media (max-width: 989px) {
    .menu-opened {
        overflow: hidden;
    }

    .container {
        max-width: 720px;
    }

    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

@media (max-width: 767px) {
    .main {
        padding-bottom: 100px;
    }

    .title {
        font-size: 25px;
    }

    .text {
        font-size: 14px;
    }

    .list {
        &__item {
            font-size: 14px;
        }
    }

    .container {
        max-width: 540px;
    }

    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }

    .loading {
        &--table {
            margin-top: 30px;
            font-size: 18px;
        }

        &--table &__icon {
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
    }
}

@media (max-width: 479px) {
    .main {
        padding-bottom: 50px;
    }

    .label {
        font-size: 14px;
    }

    .text {
        &--staking-count {
            font-size: 4vw;
        }
    }

    .error {
        font-size: 3.5vw;
    }
}
